{# Start Banner #}
<div class="banner-headline-signin d-flex flex-column justify-content-center">
    <div class="container">
        <div class="card card-banner">
            <div class="card-body card-banner text-center d-lg-flex flex-lg-column align-items-lg-end justify-content-lg-center">
                <h5 class="card-title">Vous avez perdu ou trouvé un animal ?</h5>
                <p class="card-text px-3 pb-3">Consulter la carte pour faire un signalement</p>
                <a href="{{ path ('map') }}" class="btn btn-primary">Carte</a>
            </div>
        </div>
    </div>
</div>
{# End Banner #}