{# Start Actualité Section #}
<div class="container-fluid text-center">
    <div class="container padding-section px-3">
        <div class="content-section">
            <h2 class="display-5"><i class="fas fa-map-marker-alt"></i> Trouver un refuge près de chez vous</h2>
            <div class="custom-underline mx-auto my-4"></div>
            <p class="lead mx-auto w-75">
                Voici la liste de tout les refuges et associations a proximité de chez vous
            </p>
        </div>
    </div>
</div>
{# End Actualité Section #}

{# Start Contact Map #}
<div class="container container-fluid">    
    <div id="myMap"></div>
</div>
{# End Contact Map #}