{# Start AboutUs Section #}
<div class="container-fluid text-center">
    <div class="container padding-section px-3">
        <div class="content-section">
            <h2 class="display-5"><i class="fas fa-code"></i> Notre équipe de développeur <i class="fas fa-code"></i></h2>
            <div class="custom-underline mx-auto my-4"></div>
            <p class="lead mx-auto w-75">
                Nous avons longuement travaillé afin de vous proposer un site le plus agréable possible a visiter. Si toutefois vous avez des suggestions d'ameliorations, n'hésitez pas a nous écrire <a class="about-anchor" href="{{ path ('contact') }}"> ici </a>
            </p>
        </div>
    </div>
</div>
<div class="container py-4 px-2 padding-section">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="card mx-2 mb-4" style="width: 350px">
            <div class="crop-picture carousel-img d-flex align-items-center mb-2">
                <img class="image" src="{{ asset('images/aboutus/marie.jpg') }}" alt=""/>
                <div class="overlay"></div>
            </div>
            <div class="card-body px-0 pb-0 text-center card-deco card-body-carousel">
                <h4 class="card-title font-color font-weight-bold">Marie</h4>
                <h5 class="card-title font-color font-weight-bold">Lead Dev Back/Scrum Master</h5>
                <div class="card-text box--responsive px-3 pb-3">
                   <p> En reconversion dans le développement Web depuis octobre 2019. Spécialisée en Symfony et en back-end.</p>
                </div>
                <a href="mailto:mariecharton21@gmail.com" type="button" class="btn py-3 btn-link"><i class="fas fa-envelope fa-1x"></i> Envoyer un mail </a>
                <a href="https://www.linkedin.com/in/marie-charton/" type="button" class="btn py-3 btn-link"><i class="fab fa-linkedin fa-1x"></i> Linkedin</a>
            </div>
        </div>
        <div class="card mx-2 mb-4" style="width: 350px">
        <div class="crop-picture carousel-img d-flex align-items-center mb-2">
            <img class="image" src="{{ asset('images/aboutus/cedric.jpg') }}" alt=""/>
            <div class="overlay"></div>
        </div>
        <div class="card-body px-0 pb-0 text-center card-deco card-body-carousel">
            <h4 class="card-title font-color font-weight-bold">Cédric</h4>
            <h5 class="card-title font-color font-weight-bold">Lead Dev Front/Git Master</h5>
            <div class="card-textpx-3 pb-3" style="height:100px;">
                <p class="p-0 m-0">Dev FullStack &#129299;</p><p style="width: 90%; margin: 0 auto"><small>Je suis mobile, motivé et disponible une fois le confinement terminé! &#128640;</small></p>
            </div>
                <a href="mailto:cedric.paje@gmail.com" type="button" class="btn py-3 btn-link"><i class="fas fa-envelope fa-1x"></i> Envoyer un mail </a>
                <a href="https://www.linkedin.com/in/cedric-paje-%F0%9F%8E%AF-b69a4818a/" type="button" class="btn py-3 btn-link"><i class="fab fa-linkedin fa-1x"></i> Linkedin</a>
            </div>
        </div>
    </div>
</div>
{# End AboutUs Section #}

{# <div class="row">
    <section class="github section">
<div class="section-inner">
<h2 class="heading">My GitHub</h2>
<div id="ghfeed" class="ghfeed">
</div>
<div id="github-graph" class="github-graph">
</div> #}        