{# Start AboutUs Jumbotron  #}
<div class="container padding-section">
	<div class="home-about-section text-center content-section">
		<div class="crop-avatar">
			<img class="my-4" src="{{ asset('images/brand/logo.png') }}" alt=""/>
		</div>
		<h2 class="display-5">Qui somme nous ?</h2>
		<div class="custom-underline mx-auto my-4"></div>
		<p class="lead w-75 mx-auto">
		Nous souhaitons proposer un espace d'entraide pour les associations ainsi que pour les particuliers.
		En tant qu'association vous pourrez partager des articles au sujet de vos manifestations, actions, ou évènements.
		Il est également possible de proposer des animaux a l'adoption.
		En tant qu'utilisateur du site vous pouvez consulter la carte, effectuer des signalements si vous avez perdu ou trouvé un animal
		Notre volonté est de permettre a tout les passionnés d'animaux d'avoir un espace de partage et d'entraide complet et gratuit. 
		</p>
	</div>
</div>
{# End QuiSommes Jumbotron  #}
