{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
      Oups ! La page que vous chercher n'est pas disponible cliquer <a href="{{ path('homepage') }}"> ici </a>pour revenir a l'accueil
    </p>
{% endblock %}