// font-family: 'Fredoka One', cursive;
// font-family: 'IBM Plex Sans', sans-serif;
// #110a60 => Main
// #210a60
// #310a60 => Main
// #410a60
// #510a60 => Main
// #610a60
// #710a60 => Main
// #810a60
// #910a60 => Main
// #A10a60
// #B10a60
// #c10a60
// #D10a60
// #e10a60
// #F10a60

/*=====================================*/
/*========== Dark Theme Vars ==========*/
/*=====================================*/


/*======================================*/
/*========== Light Theme Vars ==========*/
/*======================================*/
:root {
    --main-font-color: #4C4750;
    --main-separator-color: #110a60;
    --main-hover-color: #310A60;
    --main-main-color: #510A60;
    --main-clear-color: #910a60;
    --main-footer-color: #EED9FF;
    --main-white-color: #ffffff;
    --main-jumbo-color: #F7F7F7;
    --main-text-font: 'IBM Plex Sans', sans-serif;
    --main-logo-font: 'Fredoka One', cursive;
}